


<app-navigation></app-navigation>
<br>

<div style="margin-left: 8cm;margin-right: 1cm" >


<!-- Heading -->
<card class="mb-4 wow fadeIn">

    <!--Card content-->
    <card-body class="d-sm-flex justify-content-between">

        <h4 class="mb-sm-0 pt-3">
            <a href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">Home Page</a>
            <span>/</span>
            <span>Dashboard</span>
        </h4>

        <form class="d-flex md-form justify-content-center my-0">
            <!-- Default input -->
            <input type="search" placeholder="Rechercher" aria-label="Search" class="form-control" mdbInput>


        </form>

    </card-body>

</card>
<!-- Heading -->


<app-stats-card></app-stats-card>
<br>

</div>

<div style="margin-top: 4cm">
    <app-footer></app-footer>

</div>



