<app-navigation></app-navigation>
<br>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="margin-left: 8cm;margin-right: 1%" >

    <div style="border-style:outset;border-color: #36b666">

        <div class="row col-md-12" style="font-family: Garamond;color: white;font-size: 26px;background-color: #36b666;margin-left: 0px"><h2>Information de <b>Client</b></h2>
        </div>

        <div class="row col-md-12" style="margin-top: 5px;margin-bottom: 5px">


            <div class="md-form md-outline col-md-4">
                <input (keyup.enter)="getClient()"   mdbInput  name="id" type="text" id="id" class="form-control" [(ngModel)]="cl.carten"
                       required
                       #id="ngModel"
                       [ngClass]="{'is-invalid':id.errors && id.touched}"

                >
                <label for="id" style="margin-left: 8px">Taper N° de Carte</label>
                <div *ngIf="!exist" class="invalid-feedback" >
                    Le N° de Client est n'existe pas!
                </div>
            </div>

            <div class="md-form md-outline col-sm-4">
                <input mdbInput disabled name="edit_Nom" type="text" id="edit_Nom" class="form-control" [(ngModel)]="cl.nom"
                       required
                       #edit_Nom="ngModel"
                       [ngClass]="{'is-invalid':edit_Nom.errors && edit_Nom.touched}"
                >
                <label for="edit_Nom"style="margin-left: 8px">Nom</label>

            </div>
            <div class="md-form md-outline col-md-4">
                <input mdbInput disabled name="edit_Prenom" type="text" id="edit_Prenom" class="form-control" [(ngModel)]="cl.prenom"
                       required
                       #edit_Prenom="ngModel"
                       [ngClass]="{'is-invalid':edit_Prenom.errors && edit_Prenom.touched}"
                >
                <label for="edit_Prenom"style="margin-left: 8px">Prénom</label>

            </div>

            <div class="md-form md-outline col-md-4" style="margin-top: 2px">
                <input mdbInput disabled name="edit_Adresse" type="text" id="edit_Adresse" class="form-control" [(ngModel)]="cl.adresse"
                       required
                       #edit_Adresse="ngModel"
                       [ngClass]="{'is-invalid':edit_Adresse.errors && edit_Adresse.touched}"
                >
                <label for="edit_Adresse"style="margin-left: 8px">Adresse</label>

            </div>
            <div class="md-form md-outline col-md-4"style="margin-top: 2px">
                <input mdbInput disabled name="edit_tel" type="text" id="edit_tel" class="form-control" [(ngModel)]="cl.tel"
                       required
                       #edit_tel="ngModel"
                       [ngClass]="{'is-invalid':edit_tel.errors && edit_tel.touched}"
                >
                <label for="edit_tel"style="margin-left: 8px">Tél</label>

            </div>

            <div class="md-form md-outline col-md-2"style="margin-top: 2px">
                <input mdbInput disabled name="tc" type="text" id="tc" class="form-control" [(ngModel)]="cl.type"
                       required
                       #edit_tel="ngModel"
                       [ngClass]="{'is-invalid':edit_tel.errors && edit_tel.touched}"
                >
                <label for="edit_tel"style="margin-left: 8px">Type Client</label>

            </div>
            <div class="md-form md-outline col-md-2" style="margin-top: 2px">
                <input mdbInput disabled name="edit_tel" type="text" id="ncf" class="form-control" [(ngModel)]="cl.carteF"
                       required
                       #edit_tel="ngModel"
                       [ngClass]="{'is-invalid':edit_tel.errors && edit_tel.touched}"
                >
                <label for="ncf"style="margin-left: 8px">N°de CF</label>

            </div>












        </div>





    </div>


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6" style="font-family: Garamond;font-size: 26px">
                <h2>Gestions des <b>Commande</b></h2>
            </div>
            <div class="col-sm-2" >

                <input style="width: 310px" (keyup)="filter()" [(ngModel)]="datasource" class="form-control my-0 py-1" type="text" placeholder="Rechercher" aria-label="Search">
            </div>
            <div class="col-sm-2">
                <div class="input-group-prepend">
                    <span style="height: 38px;margin-left: 70px" class="input-group-text green lighten-3" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-sm-2">
                <a href="#addEmployeeModal" class="h" data-toggle="modal"><i class="fas fa-plus fa-8x "></i> <span></span></a>

            </div>
        </div>
    </div>
    <table  class="table table-striped " >
        <thead>
        <tr>
            <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
            </th>

            <th>N° </th>
            <th>Type</th>
            <th >Date Cmd</th>
            <th>Outils</th>
            <th>N° Client</th>
            <th>Etats</th>
            <th>Action</th>




        </tr>
        </thead>
        <tbody >


        <tr *ngFor=" let c of list_Cmd " >
            <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
            </td>
            <td>{{c.id}}</td>
            <td>{{c.type}}</td>
            <td>{{c.dateCmd}}</td>
            <td>{{c.outils}}</td>
            <td>{{c.carten}}</td>
            <td>{{c.etats}}</td>




            <td>

                <a  href="#editEmployeeModal"      class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xe8f4;</i></a>
                <a href="#editModal" (click)="get_Info(c)"   class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a (click)="delete_client(c.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

            </td>
        </tr>


        </tbody>



    </table>
</div>



    <div id="addEmployeeModal" class="modal fade">
        <div  class="modal-dialog modal-dialog-scrollable" role="document" >
            <div class="modal-content">

                <div class="modal-header" style="background-color:#36b666;font-family: garamond;color: white;" >
                    <h4 class="modal-title w-100" id="myModelTitle">  <mdb-icon fas icon="far fa-edit" class="mr-3"></mdb-icon>Nouveau Commande</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" >  <!--  Start Body                 !-->
                    <form #client="ngForm" >
                        <div class="md-form md-outline">

                            <select  name="type" id="tp" [(ngModel)]="cmd.type" class="browser-default custom-select">
                                <option selected>{{cmd.type}}</option>
                                <option >Préstation</option>
                                <option >Location</option>
                            </select>
                        </div>


                        <div class="md-form md-outline">
                            <input mdbInput  name="date" type="text" id="date" class="form-control" [(ngModel)]="cmd.dateCmd"
                                   required
                                   #date="ngModel"
                                   [ngClass]="{'is-invalid':date.errors && date.touched}"
                            >
                            <label for="date">Date</label>
                            <div [hidden]="!date.errors?.required" class="invalid-feedback" >
                            </div>
                        </div>
                        <div class="md-form md-outline">
                            <input mdbInput  name="carten" type="text" id="nclient" class="form-control" [(ngModel)]="cmd.client_carten"
                                   required
                                   #nclient="ngModel"
                                   [ngClass]="{'is-invalid':nclient.errors && nclient.touched}"
                            >
                            <label for="date">N°de Client</label>
                            <div [hidden]="!nclient.errors?.required" class="invalid-feedback" >
                            </div>
                        </div>
                        <div class="md-form md-outline">

                            <select  name="nt" id="nt" [(ngModel)]="cmd.ntravail" class="browser-default custom-select">
                                <option selected>{{cmd.ntravail}}</option>
                                <option *ngFor="let o of operation">{{o.operation}}</option>
                            </select>
                        </div>
                        <div class="md-form md-outline">

                            <select  name="outils" id="outils" [(ngModel)]="cmd.outils" class="browser-default custom-select">
                                <option selected>{{cmd.outils}}</option>
                                <option *ngFor="let o of operation">{{o.operation}}</option>
                            </select>
                        </div>





                        <div class="md-form md-outline">
                            <input mdbInput  name="nbhect" type="number" id="nbhect" class="form-control" [(ngModel)]="cmd.nbre_jour"
                                   required
                                   #nbhect="ngModel"
                                   [ngClass]="{'is-invalid':nbhect.errors && nbhect.touched}"
                            >
                            <label for="nbhect">Nombre de Jour</label>
                            <div [hidden]="!nbhect.errors?.required" class="invalid-feedback" >

                            </div>
                        </div>


                        <div class="md-form md-outline">

                            <select  name="tv" id="tv" [(ngModel)]="cmd.tversement" class="browser-default custom-select">
                                <option selected>{{cmd.tversement}}</option>
                                <option *ngFor="let o of operation">{{o.operation}}</option>
                            </select>
                        </div>










                    </form>

                </div> <!--  finish Body                 !-->

                <div class="modal-footer" style="background-color: white">
                    <button type="submit" class="btn btn-outline-primary" (click)="add_cmd()">Enregistrer</button>
                    <button class="btn btn-danger" data-dismiss="modal">Annuler</button>

                </div>

            </div>
        </div>
    </div>



</div>
<app-footer></app-footer>

