
    <!--Footer-->
    <footer class="page-footer text-center font-small success-color-dark darken-2 mt-4 wow fadeIn  ">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="https://www.oaic-office.com/index2.html" target="_blank" role="button">Site OAIC Officiele
                <i class="fas fa-globe"></i>            </a>
            <a class="btn btn-outline-white" href="http://madrp.gov.dz/" target="_blank" role="button">Ministre Agriculture
            </a>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com/mdbootstrap" target="_blank">
                <mdb-icon fab icon="facebook-f" class="mr-3"></mdb-icon>
            </a>

            




            <a href="https://dribbble.com/mdbootstrap" target="_blank">
                <mdb-icon fab icon="dribbble" class="mr-3"></mdb-icon>
            </a>






        </div>
        <!-- Social icons -->

       

    </footer>
    <!--/.Footer-->
