
<app-navigation></app-navigation>
<br>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="margin-left: 8%;margin-right: 1%" >


    <div class="container">
        <div class="row">

            <div class="col-md-8" id="htmlData" #htmlData>
                <table class="table table-bordered">
                    <tr class="table-primary">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                    <tr *ngFor="let user of USERS">
                        <th>{{user.id}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-4 text-right">
                <button class="btn btn-success btn-block" (click)="openPDF()">Open PDF</button>
                <button class="btn btn-danger btn-block" (click)="downloadPDF()">Download PDF</button>
                <button class="btn btn-success btn-block" (click)="generatePdf()">Génerate Pdf</button>

            </div>

        </div>
    </div>

</div>




<app-footer></app-footer>

