<app-na></app-na>



<div class="row">

     <div class="col-md-6">
  
      
      <fieldset class="scheduler-border">
      <legend class="scheduler-border">Information </legend>
    <div class="control-group">
          <div class="md-form md-outline">
            <input mdbInput  name="email" type="email" id="form8" class="form-control" [(ngModel)]="nom" #input="ngModel" >
            <label for="form2">Nom</label>
          </div>
          <div class="md-form md-outline">
            <input mdbInput  name="email" type="email" id="form8" class="form-control" [(ngModel)]="prenom" #input="ngModel" >
            <label for="form2">Prénom</label>
          </div>
          <div class="md-form md-outline">
            <input mdbInput  name="email" type="email" id="form8" class="form-control" [(ngModel)]="adresse" #input="ngModel" >
            <label for="form2">Adresse</label>
          </div>
          <div class="md-form md-outline">
            <input mdbInput  name="email" type="tel" id="form8" class="form-control" [(ngModel)]="tel" #input="ngModel"  >
            <label for="form2">Tél</label>
          </div>
          
          <select class="form-control">
            <option value=""disabled selected>Type client</option>
            <option value="+47">Agriculteur</option>
            <option value="+46">Multiplicateur</option>
            <option value="+45">Danmark</option>
          </select>


    </div>
    

</fieldset>
</div>

<div class="col-md-6">
    <fieldset class="scheduler-border">

    <legend class="scheduler-border">Opération </legend>

  </fieldset>
</div> 

