
<app-navigation></app-navigation>
<br>

<div style="margin-left: 8cm;margin-right: 1cm" >
	<app-na></app-na>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



	<div class="table-wrapper" datasrc="datasource">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6" style="font-family: Garamond;font-size: 26px">
					<h2>Gestions des <b>Employés</b></h2>
				</div>
				<div class="col-sm-2" >

					<input style="width: 310px" (keyup)="filter()" [(ngModel)]="datasource" class="form-control my-0 py-1" type="text" placeholder="Rechercher" aria-label="Search">
				</div>
				<div class="col-sm-2">
					<div class="input-group-prepend">
						<span style="height: 38px;margin-left: 70px" class="input-group-text green lighten-3" id="basic-text1"><i class="fas fa-search text-white" aria-hidden="true"></i></span>
					</div>
				</div>
				<div class="col-sm-2">
					<a href="#addModel" class="h" data-toggle="modal"><i class="fas fa-plus fa-8x "></i> <span></span></a>

				</div>
			</div>
		</div>
		<table *ngIf="contacts" class="table table-striped " >
			<thead>
			<tr>
				<th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
				</th>

				<th>N° </th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Adresse</th>
				<th>Tél</th>
				<th>Catégorie</th>
				<th>Fonction</th>
				<th>Décision</th>

				<th>Action</th>




			</tr>
			</thead>
			<tbody>


			<tr *ngFor=" let c of contacts" >
				<td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
				</td>
				<td>{{c.id}}</td>
				<td>{{c.nom}}</td>
				<td>{{c.prenom}}</td>
				<td>{{c.adresse}}</td>
				<td>{{c.tel}}</td>
				<td>{{c.categorie}}</td>
				<td>{{c.fonction}}</td>
				<td>{{c.decision}}</td>




				<td>

					<a  href="#editEmployeeModal"     (click)="translate(c)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xe8f4;</i></a>
					<a href="#exampleModalScrollable"  (click)="translate(c)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
					<a (click)="deleteContact(c.id)" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
				</td>
			</tr>


			</tbody>
		</table>
		<div>
			<ul class="pagination">
				<li class="page-item "><a (click)="get_Previouss_Page()" class="page-link">Previous</a></li>
				<li class="page-item"  *ngFor="let p of  pages;let i=index"><a class="page-link"(click)="Onget_Client(i)" >{{i}}</a></li>

				<li class="page-item" > <a  (click)="get_Next_Page()"  class="page-link"   >Next</a></li>
			</ul>
		</div>






<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #36b666;font-family: garamond;color: white;">
				<h4 class="modal-title w-100" id="myModalLabels"> <i class="material-icons">&#xe7fe;</i> Modifier Employé</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #controle="ngForm" >
				<div class="md-form md-outline">
					<input mdbInput  name="editId" type="text" id="editId" class="form-control" [(ngModel)]="Employe.id"
						   required
						   disabled
						   #editId="ngModel"
						   [ngClass]="{'is-invalid':editId.errors && editId.touched}"
					>
					<label for="editNom">N° Employé</label>
					<div [hidden]="!editId.errors?.required" class="invalid-feedback" >
						le N° est obligatoir

					</div>
				</div>
				<div class="md-form md-outline">
					<input mdbInput  name="editNom" type="text" id="editNom" class="form-control" [(ngModel)]="Employe.nom"
						   required
						   #editNom="ngModel"
						   [ngClass]="{'is-invalid':editNom.errors && editNom.touched}"
					>
					<label for="editNom">Nom</label>
					<div [hidden]="!editNom.errors?.required" class="invalid-feedback" >
						le Nom est obligatoir

					</div>
				</div>
				<div class="md-form md-outline">
					<input mdbInput  name="editPrenom" type="email" id="editPrenom" class="form-control" [(ngModel)]="Employe.prenom"
						   required
						   #editPrenom="ngModel"
						   [ngClass]="{'is-invalid':editPrenom.errors && editPrenom.touched}"
					>
					<label for="editNom">Prénom</label>
					<div [hidden]="!editPrenom.errors?.required" class="invalid-feedback" >
						le Prénom est obligatoir

					</div>
				</div>
				<div class="md-form md-outline">
					<input mdbInput  name="editdateN" type="text" id="editdateN" class="form-control" [(ngModel)]="Employe.dateN"
						   required
						   #editdateN="ngModel"
						   [ngClass]="{'is-invalid':editdateN.errors && editdateN.touched}"
					>
					<label for="editdateN"></label>
					<div [hidden]="!editdateN.errors?.required" class="invalid-feedback" >
						la date de Né est obligatoir

					</div>
				</div>

				<div class="md-form md-outline">
					<input mdbInput  name="edit_lienN" type="text" id="edit_lienN" class="form-control" [(ngModel)]="Employe.lieuN"
						   required
						   #edit_lienN="ngModel"
						   [ngClass]="{'is-invalid':edit_lienN.errors && edit_lienN.touched}"
					>
					<label for="edit_lienN">Lieu Né</label>
					<div [hidden]="!edit_lienN.errors?.required" class="invalid-feedback" >

					</div>
				</div>
				<div class="md-form md-outline">
					<input mdbInput  name="editAdresse" type="text" id="editAdresse" class="form-control" [(ngModel)]="Employe.adresse"
						   required
						   #editAdresse="ngModel"
						   [ngClass]="{'is-invalid':editAdresse.errors && editAdresse.touched}"
					>
					<label for="editAdresse">Adresse</label>
					<div [hidden]="!editAdresse.errors?.required" class="invalid-feedback" >

					</div>
				</div>
				<div class="md-form md-outline">
					<input mdbInput  name="edit_tel" type="text" id="edit_tel" class="form-control" [(ngModel)]="Employe.tel"
						   required
						   #edit_tel="ngModel"
						   [ngClass]="{'is-invalid':edit_tel.errors && edit_tel.touched}"
					>
					<label for="edit_tel">Tél</label>
					<div [hidden]="!edit_tel.errors?.required" class="invalid-feedback" >

					</div>

				</div>

				<div class="md-form md-outline">

					<select  name="editCategorie" id="editCategorie" [(ngModel)]="Employe.categorie" class="browser-default custom-select">
						<option selected>{{Employe.categorie}}</option>
						<option *ngFor="let cat of Catgorie"> {{cat.name}}</option>
					</select>

				</div>

				<select  name="editFonction" id="editFonction" [(ngModel)]="Employe.fonction" class="browser-default custom-select">
					<option selected>{{Employe.fonction}}</option>
					<option *ngFor="let f of fonctions"> {{f.name}}</option>
				</select>

					<div class="md-form md-outline">
					<input mdbInput  name="edit_calification" type="text" id="edit_calification" class="form-control" [(ngModel)]="Employe.calification"
						   required
						   #edit_calification="ngModel"
						   [ngClass]="{'is-invalid':edit_calification.errors && edit_calification.touched}"
					>
					<label for="edit_tel">Calification</label>
					<div [hidden]="!edit_calification.errors?.required" class="invalid-feedback" >

					</div>
				</div>
					<div class="md-form md-outline">
						<input mdbInput  name="edit_decision" type="text" id="edit_decision" class="form-control" [(ngModel)]="Employe.decision"
							   required
							   #edit_decision="ngModel"
							   [ngClass]="{'is-invalid':edit_decision.errors && edit_decision.touched}"
						>
						<label for="edit_decision">Décision</label>
						<div [hidden]="!edit_decision.errors?.required" class="invalid-feedback" >

						</div>
					</div>

					<select  name="editwilaya" id="editwilaya" [(ngModel)]="Employe.wilaya" class="browser-default custom-select">
						<option selected>{{Employe.wilaya}}</option>
						<option *ngFor="let w of wilaya"> {{w.name}}</option>
					</select>
					<div class="md-form md-outline">

						<select  name="editdaira" id="editdaira" [(ngModel)]="Employe.daira" class="browser-default custom-select">
							<option selected>{{Employe.daira}}</option>
							<option *ngFor="let d of daira"> {{d.name}}</option>
						</select>
					</div>
					<select  name="editcomune" id="editcomune" [(ngModel)]="Employe.commune" class="browser-default custom-select">
						<option selected>{{Employe.commune}}</option>
						<option *ngFor="let c of Comune"> {{c.name}}</option>
					</select>




				</form>
			</div>

			<div class="modal-footer" style="background-color: white;justify-items: left">
                <button class="btn btn-outline-primary" (click)="updateEmploye()" [disabled]="!controle.valid" >Mettre à jour </button>
				<button class="btn btn-danger"  data-dismiss="modal">Annuler </button>

			</div>
		</div>
	</div>
</div>






























<!-- Delete Modal HTML -->



<div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#36b666;font-family: garamond;color: white;">
				<h4 class="modal-title w-100" id="myModelTitle"> <i class="material-icons">&#xe7fe;</i> Nouveau Employé</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #controle="ngForm" >

					<div class="md-form md-outline">
						<input mdbInput  name="Nom" type="text" id="Nom" class="form-control" [(ngModel)]="Employe.nom"
							   required
							   #Nom="ngModel"
							   [ngClass]="{'is-invalid':Nom.errors && Nom.touched}"
						>
						<label for="Nom">Nom</label>
						<div [hidden]="!Nom.errors?.required" class="invalid-feedback" >
							le Nom est obligatoir

						</div>
					</div>
					<div class="md-form md-outline">
						<input mdbInput  name="Prenom" type="email" id="Prenom" class="form-control" [(ngModel)]="Employe.prenom"
							   required
							   #Prenom="ngModel"
							   [ngClass]="{'is-invalid':Prenom.errors && Prenom.touched}"
						>
						<label for="Nom">Prénom</label>
						<div [hidden]="!Prenom.errors?.required" class="invalid-feedback" >
							le Prénom est obligatoir

						</div>
					</div>
					<div class="md-form md-outline">
						<input mdbInput  name="dateN" type="date" dataformatas="dd-mm-yyyy"  id="dateN" class="form-control" [(ngModel)]="Employe.dateN"
							   required
							   #dateN="ngModel"
							   [ngClass]="{'is-invalid':dateN.errors && dateN.touched}"
						>
						<label for="dateN"></label>
						<div [hidden]="!dateN.errors?.required" class="invalid-feedback" >
							la date de Né est obligatoir

						</div>
					</div>




					<div class="md-form md-outline">
						<input mdbInput  name="_lienN" type="text" id="_lienN" class="form-control" [(ngModel)]="Employe.lieuN"
							   required
							   #_lienN="ngModel"
							   [ngClass]="{'is-invalid':_lienN.errors && _lienN.touched}"
						>
						<label for="_lienN">Lieu Né</label>
						<div [hidden]="!_lienN.errors?.required" class="invalid-feedback" >

						</div>
					</div>
					<div class="md-form md-outline">
						<input mdbInput  name="Adresse" type="text" id="Adresse" class="form-control" [(ngModel)]="Employe.adresse"
							   required
							   #Adresse="ngModel"
							   [ngClass]="{'is-invalid':Adresse.errors && Adresse.touched}"
						>
						<label for="Adresse">Adresse</label>
						<div [hidden]="!Adresse.errors?.required" class="invalid-feedback" >

						</div>
					</div>
					<div class="md-form md-outline">
						<input mdbInput  name="_tel" type="text" id="_tel" class="form-control" [(ngModel)]="Employe.tel"
							   required
							   #_tel="ngModel"
							   [ngClass]="{'is-invalid':_tel.errors && _tel.touched}"
						>
						<label for="_tel">Tél</label>
						<div [hidden]="!_tel.errors?.required" class="invalid-feedback" >

						</div>
					</div>

					<div class="md-form md-outline">

						<select  name="Categorie" id="Categorie" [(ngModel)]="Employe.categorie" class="browser-default custom-select">
							<option value="" disabled selected hidden>Catégorie</option>
							<option *ngFor="let cat of Catgorie"> {{cat.name}}</option>
						</select>

					</div>
					<div class="md-form md-outline">

					<select  name="Fonction" id="Fonction" [(ngModel)]="Employe.fonction" class="browser-default custom-select">
						<option value="" disabled selected hidden>Fonction</option>
						<option *ngFor="let f of fonctions"> {{f.name}}</option>
					</select>
					</div>

					<div class="md-form md-outline">
						<input mdbInput  name="_calification" type="text" id="_calification" class="form-control" [(ngModel)]="Employe.calification"
							   required
							   #_calification="ngModel"
							   [ngClass]="{'is-invalid':_calification.errors && _calification.touched}"
						>
						<label for="_tel">Calification</label>
						<div [hidden]="!_calification.errors?.required" class="invalid-feedback" >

						</div>
					</div>
					<div class="md-form md-outline">
						<input mdbInput  name="_decision" type="text" id="_decision" class="form-control" [(ngModel)]="Employe.decision"
							   required
							   #_decision="ngModel"
							   [ngClass]="{'is-invalid':_decision.errors && _decision.touched}"
						>
						<label for="_decision">Décision</label>
						<div [hidden]="!_decision.errors?.required" class="invalid-feedback" >

						</div>
					</div>
					<div class="md-form md-outline">

					<select  name="wilaya" id="wilaya" [(ngModel)]="Employe.wilaya" class="browser-default custom-select">
						<option value="" disabled selected hidden>Wilaya</option>
						<option *ngFor="let w of wilaya"> {{w.name}}</option>
					</select>

					</div>
					<div class="md-form md-outline">

						<select  name="daira" id="daira" [(ngModel)]="Employe.daira" class="browser-default custom-select">
							<option value="" disabled selected hidden>Daira</option>
							<option *ngFor="let d of daira"> {{d.name}}</option>
						</select>

					</div>
					<div class="md-form md-outline">
					<select  name="comune" id="comune" [(ngModel)]="Employe.commune" class="browser-default custom-select">
						<option value="" disabled selected hidden>Commune</option>
						<option *ngFor="let c of Comune"> {{c.name}}</option>
					</select>

					</div>



				</form>
			</div>

			<div class="modal-footer" style="background-color: white">
                <button class="btn btn-outline-primary" type="submit" (click)="saveEmploye(controle.value)" [disabled]="!controle.valid">Enregistrer</button>
				<button class="btn btn-danger"  data-dismiss="modal">Annuler </button>

			</div>
		</div>
	</div>
</div>

	</div>








</div>
<app-footer></app-footer>
