
<div id="navigation">
    <div class="row" >
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top"
                     src="../../../../assets/img/employe.jpeg"

                     alt="Card image cap">
                <div class="card-body"
                     [routerLink]="personnel"

                >
                    <button    type="button" class="btn btn-primary btn-lg btn-block">Gestion des Employé</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top"
                     style="height: 5cm"
                     src="../../../../assets/img/clients.jpg"
                     alt="Card image cap">
                <div class="card-body"

                     [routerLink]="client"
                >
                    <button type="button" class="btn btn-primary btn-lg btn-block">Gestion des Clients</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top"
                     style="height: 5cm"
                     src="../../../../assets/img/engins.jpg"

                     alt="Card image cap">
                <div class="card-body"
                     [routerLink]="engin"

                >
                    <button type="button" class="btn btn-primary btn-lg btn-block">Gestion des Engins</button>
                </div>
            </div>
        </div>


    </div>


</div>

