
<div id="navigation">
    <div class="row"  style="font-family:'Britannic Bold' ">
        <div class="col-md-3" >
            <div class="card mb-2" style="border-color: #03A9F4">
                <img class="card-img-top"
                     src="../../../../assets/img/employe.jpeg"
                     style="height: 5cm"

                     alt="Card image cap">
                <div class="card-body"
                     [routerLink]="personnel"

                >
                    <button    type="button" class="btn btn-outline-success btn-lg btn-block">Les Employés</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-2" style="border-color: #03A9F4">
                <img class="card-img-top"
                     style="height: 5cm"
                     src="../../../../assets/img/pro.jpg"

                     alt="Card image cap">
                <div class="card-body"
                     [routerLink]="produit"

                >
                    <button type="button" class="btn btn-outline-success btn-lg btn-block">Les Produits</button>
                </div>
            </div>
        </div>
        <div class="col-md-2" >
            <div class="card mb-2" style="border-color: #03A9F4">
                <img class="card-img-top"
                     style="height: 5cm"
                     src="../../../../assets/img/clients.jpg"
                     alt="Card image cap">
                <div class="card-body"

                     [routerLink]="client"
                >
                    <button type="button" class="btn btn-outline-success btn-lg btn-block">Les Clients</button>
                </div>
            </div>
        </div>
        <div class="col-md-2" >
            <div class="card mb-2" style="border-color: #03A9F4">
                <img class="card-img-top"
                     style="height: 5cm"
                     src="../../../../assets/img/engins.jpg"

                     alt="Card image cap">
                <div class="card-body"
                     [routerLink]="engin"

                >
                    <button type="button" class="btn btn-outline-success btn-lg btn-block">Les Engins</button>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card mb-2" style="border-color: #03A9F4">
                <img class="card-img-top"
                     style="height: 5cm"
                     src="../../../../assets/img/tar.jpg"

                     alt="Card image cap">
                <div class="card-body"

                     [routerLink]="tarif"

                >
                    <button type="button" class="btn btn-outline-success btn-lg btn-block">Les Tarifs</button>
                </div>
            </div>
        </div>


    </div>


</div>

