<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

            <img src="../../../../assets/img/cl.png"  alt="" class="rounded-circle" > 
      

        <div class="list-group list-group-flush">

            <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
            </a>
            <a routerLink="admin/personnel" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="fas fa-chalkboard" class="mr-3"></mdb-icon>Administration</a>
            <a routerLink="admin/commande" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="far fa-edit" class="mr-3"></mdb-icon>Commande</a>
            <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Profile</a>
            <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Tables</a>
            <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon far icon="map" class="mr-3"></mdb-icon>Maps</a>
            <a routerLink="nonExistingPath" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>404</a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/">
                <strong class="blue-text">Wilaya de Sétif </strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links class="align-right" style="margin-left: 860px">

            <!-- Links -->

            <!-- Search form -->
            <div>
            <ul class="navbar-nav nav-flex-icons">


                    <li class="nav-item">
                        <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light"
                            target="_blank" mdbWavesEffect>
                            <mdb-icon fab icon="github" class="mr-2"></mdb-icon>Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://mdbootstrap.com/products/angular-ui-kit/" class="ml-1 nav-link border border-light rounded" mdbWavesEffect>
                            <mdb-icon far icon="gem" class=" left"></mdb-icon> Deconnexion</a>
                    </li>
                    
                </ul>
            </div>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->
